body {
  background: black;
  color: white;
}

button {
  background: #020616;
  border: 1px solid #475569;
  border-radius: 6px;
  padding: 4px 8px;
}

button:hover {
  background: #1e293b;
}

#userState {
  display: flex;
  gap: 8px;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
}

#log {
  white-space: pre;
}

#controls {
  display: flex;
  gap: 8px;
}

#dice {
  display: flex;
  gap: 8px;
}

#dice > button {
  width: 32px;
  height: 32px;
}

#dice > button.locked {
  background: #475569;
}

#scoreSheet {
  display: flex;
  gap: 8px;
}

#scoreSheet > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#scoreSheet button {
  width: 72px;
  height: 32px; 
}

#index {
  padding-right: 32px;
}

#index > p {
  height: 32px; 
}

#player1Id {
  height: 32px;
}

#player2Id {
  height: 32px;
}
