body {
  margin: 0;
  overflow: clip;
}

#canvas {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#controls {
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}

#controls > button {
  padding: 12px;
  background-color: white;
}
