body {
  overflow: clip;
  font-family: "Jost", sans-serif;
  font-style: normal;
}

button {
  background: #f8fafc;
  border: 1px solid #e2e8f0;
  border-radius: 6px;
  padding: 4px 8px;
}

#root {
  width: 100vw;
  height: 100vh;
}

#loading {
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#loading > .title {
  font-size: 48px;
}

#spinner {
  display: flex;
  gap: 20px;
}

.dice-spinner {
  width: 32px;
  height: 32px;
}

#game {
  width: 100%;
  height: 100%;
}

#lobby {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 8px;
  transition: all 1s ease-in-out;
  gap: 20px;
  align-items: center;
}

#lobby.hide {
  top: -100%;
}

#lobby .title {
  font-size: 24px;
}

#lobby #top {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: start;
}

#userState {
  display: flex;
  gap: 4px;
  align-items: center;
}

#badge {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #16a34a;
}

#userId {
  font-size: 12px;
}

#queueLoading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

#yacht {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#leftRolls {
  padding: 8px;
  font-size: 20px;
  background-color: white;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 10;
}

#controls {
  position: absolute;
  z-index: 10;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#row {
  display: flex;
  gap: 8px;
}

#scoreSheet {
  z-index: 10;
  position: absolute;
  left: 8px;
  bottom: 8px;
  display: flex;
  gap: 8px;
}

#scoreSheet > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#scoreSheet button {
  width: 72px;
  height: 32px;
}

#index {
  padding-right: 32px;
}

#index > p {
  height: 32px;
}

#player1Id {
  height: 32px;
}

#player2Id {
  height: 32px;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  font-weight: bold;
  border-bottom: 4px solid #16a34a;
}
